.section-format {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-format {
  color: white;
  font-family: "ReemKufiFun";
  font-size: 36;
}
